<div class="wrapper">
    <div class="contacts-card">

        <h1> Get in Touch with CooksCooks</h1>
        <section>
            <h2>Address:</h2>
            <p>

                CooksCooks Headquarters<br>
                123 Culinary Street<br>
                Sofia, 1000<br>
                Bulgaria<br>
            </p>

        </section>

        <section>
            <h2>
                Phone:
            </h2>
            <p>
                General Inquiries: +359 2 123 4567 <br>
                Customer Support: +359 2 987 6543 <br>
            <p></p>
        </section>

        <section>
            <h2>Email:</h2>
            <p>
                info&#64;cookscooks.com
                support&#64;cookscooks.com

            </p>
        </section>

        <section>
            <h2>
                Connect With Us:
            </h2>
            Follow us on <a href="https://www.instagram.com">Instagram</a> <br>
            Like us on <a href="https://www.facebook.com/">Facebook</a> <br>
            Tweet us on <a href="https://www.x.com/">Twitter</a> <br>
        </section>

        <section>
            <h2>Working Hours:</h2>
            <p>
                Monday - Friday: 9:00 AM - 6:00 PM (GMT+2) <br>
                Saturday - Sunday: Closed <br>
            </p>
        </section>

        <section>
            <h2>
                Say Hello!
            </h2>
            <p>
                Have a question, suggestion, or just want to chat about your latest kitchen triumph? We're all ears!
                Reach out
                to us through the contact details above or use the form below. Our team is ready to assist you on your
                culinary
                journey.
            </p>
        </section>

    </div>
</div>