.recipe-image img {
  max-width: 20vw;
  max-height: 80vh;
  border-radius: 15px;
}

.recipe {
  display: flex;
  flex-direction: row;
  white-space: pre-wrap;
  max-width: 100%;  
  background-color: #dabc93;
  padding: 15px;
  margin: 15px;
  border-radius: 15px;
}

.recipe-details-field {
  padding: 10px;
}
