.recipe-image img {
  max-width: 20vw;
  max-height: 80vh;
  border-radius: 15px;
  min-width: 100px;
  min-height: 200px;
  object-fit: cover;
}

.recipe {
  display: flex;
  flex-direction: row;
  white-space: pre-wrap;
  max-width: 100%;
  background-color: #dabc93;
  padding: 15px;
  margin: 15px;
  border-radius: 15px;
  animation: 1s ease-in-out 0s 1 fadeIn;
}

h1 {
  animation: 1s ease-in-out 0s 1 fadeIn;
}

.recipe-details-field {
  padding: 10px;
  overflow: hidden;
}

@media only screen and (max-width: 600px) {
  .recipe,
  .recipe-image,
  .recipe-details {
    display: block;
    font-size: 28px;
  }

  .recipe-image img {
    max-width: 80vw;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
.controls {
  text-align: center;
  button {
    display: inline-block;
    max-width: 150px;
    padding: 10px;
    border-radius: 15px;
    margin-top: 10px;
    cursor: pointer;
    &:hover {
      background-color: lightgray;
      transition-property: background-color;
      transition-duration: 0.3s;
    }
  }
}

.delete-button {
  background-color: #bf0e0e;
  color: white;
  &:hover {
    background-color: #f01515 !important;
    transition-property: background-color;
    transition-duration: 0.2s;
  }
}

.cancel-button {
  background-color: #118a15;
  color: white;
  &:hover {
    background-color: #59b35c !important;
    transition-property: background-color;
    transition-duration: 0.2s;
  }
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: 1s ease-in-out 0s 1 fadeIn;
}

input {
  padding: 10px;
  border-radius: 15px;
  background-color: #dabc93;
  width: 500px;
  min-width: 150px;
  max-width: 500px;
}

.input-field {
  padding: 10px;
}

textarea {
  max-width: 500px;
  max-height: 500px;
  min-width: 200px;
  min-height: 200px;
  height: 500px;
  width: 500px;
  border-radius: 15px;
  padding: 10px;
  background-color: #dabc93;
}

.ingredient-field {
  display: inline-block;
}

button,
.ingredient-controls button {
  display: inline-block;
  max-width: 150px;
  padding: 10px;
  border-radius: 15px;
  margin-top: 10px;
  cursor: pointer;
}

.ingredients {
  display: flex;
  flex-direction: column;
}

.ingredient {
  display: flex;
  flex-direction: row;
}

.ingredient-labels label {
  margin: 0 75px;
}

.submit-controls {
  margin: 15px;
}

label {
  font-weight: bold;
  font-size: 24px;
  margin-top: 10px;
}

#comments-title {
  text-align: center;
}
