@if (!this.loading){ @if (!this.editing) { @if (recipe.authorId ==
this.localStorage.getItem('_id')) {
<div class="controls">
  <button type="button" (click)="(this.editing = true) && loadRecipeDetails()">
    Edit recipe
  </button>
  @if (!this.deletePrompt) {
  <button type="button" (click)="this.deletePrompt = true">
    Delete recipe?
  </button>
  } @if (this.deletePrompt) {
  <button type="button" class="delete-button" (click)="deleteRecipe()">
    Yes, delete!
  </button>
  <button
    type="button"
    class="cancel-button"
    (click)="this.deletePrompt = false"
  >
    No, cancel
  </button>
  }
</div>
}

<div class="recipe">
  <div class="recipe-image">
    <div class="recipe-details-field" id="recipe-image">
      <img src="{{ recipe.images[0].url }}" alt="" />
    </div>
  </div>

  <div class="recipe-details">
    <div class="recipe-details-field" id="recipe-title">
      <h1>{{ recipe.title }}</h1>
    </div>

    <div class="recipe-details-field" id="recipe-date">
      Posted on: <i>{{ recipe.date.toString().split("T").at(0) }}</i>
    </div>

    <div class="recipe-details-field" id="recipe-author">
      <p>
        Author:
        <a href="user/profile/{{ recipe.authorId }}"
          ><b>{{ recipe.author }}</b></a
        >
      </p>
    </div>

    <div class="recipe-details-field" id="recipe-tags">
      Tags: 
      @for (tag of recipe.tags; track $index) {
        <p class="recipe-tag">{{tag}}, </p>
      }
    </div>

    <div class="recipe-details-field" id="recipe-description">
      <h3>Description: </h3>
      {{ recipe.description }}
    </div>

    <div class="recipe-details-field" id="recipe-ingredients">
      <h3>Ingredients:</h3>
      <p>
        {{ recipe.ingredients }}
      </p>
    </div>

    <div class="recipe-details-field" id="recipe-instructions">
      <h3>How to prepare:</h3>
      {{ recipe.instructions }}
    </div>
  </div>
</div>

<h1 id="comments-title">Comments</h1>

<app-comments [recipeId]="recipe._id"></app-comments>
} @if (this.editing) {
<div class="edit-recipe">
  <div class="controls">
    <button type="button" (click)="this.editing = false">Cancel</button>
  </div>
  <form action="" [formGroup]="editRecipeForm">
    <label for="recipe-title">Title: </label>
    <div class="input-field">
      <input
        type="text"
        id="recipe-title"
        name="recipe-title"
        formControlName="title"
      />
    </div>

    <label for="image" class="">Picture (URL):</label>
    <div class="recipe-image">
      <input type="text" name="image" formControlName="image" />
    </div>

    <label for="recipe-description">Description: </label>
    <div class="input-field">
      <textarea
        name="recipe-description"
        id="recipe-description"
        cols="30"
        rows="10"
        formControlName="description"
      ></textarea>
    </div>

    <label for="recipe-ingredients">Ingredients: </label>

    <div class="ingredients input-field">
      <textarea
        name="ingredients"
        id=""
        cols="30"
        rows="10"
        formControlName="ingredients"
      ></textarea>
    </div>

    <label for="recipe-instructions">Instructions: </label>
    <div class="input-field">
      <textarea
        name="recipe-instructions"
        id="recipe-instructions"
        cols="30"
        rows="10"
        formControlName="instructions"
      ></textarea>
    </div>

    <label for="tags">Tags:</label>
  <div class="input-field">
    <input type="text" name="tags" formControlName="tags" (keyup)="updateTags()">
    <div class="result-box">
      <ul>
        @for (tag of foundTags; track $index) {
          <li (click)="selectTag(tag)">{{tag}}</li>
        }
      </ul>
    </div>

    <h2>Selected tags:</h2>

    <div class="included-tags">
      <ul>
        @for (tag of selectedTags; track $index) {
          <li (click)="removeSelectedTag(tag)">{{tag}}</li>
        }
      </ul>
    </div>
  </div>

    <div class="submit-controls controls">
      <button type="button" (click)="submitChanges()">Save changes</button>
    </div>
  </form>
</div>
} }
