nav {
  background-color: rgb(135, 135, 110);
  height: fit-content;
  display: inline-block;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  a {
    border-radius: 15px;
    background-color: rgb(150, 150, 130);
    margin: 5px 0;
    padding: 10px;
    display: inline-block;
    text-decoration: none;
    color: white;
    &:hover {
      cursor: pointer;
      background-color: rgb(165, 165, 140);
      transition: background-color 0.2s;
    }
  }

  .nav-element {
    min-width: 28vw;
  }

  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }


  .title {
    font-size: 32px;
    padding: 5px;
    font-weight: bold;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .user {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: white;
  }
}
