form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  animation: 1s ease-in-out 0s 1 fadeIn;
}

input {
  padding: 10px;
  border-radius: 15px;
  background-color: #dabc93;
  min-width: 150px;
  width: 500px;
  max-width: 80vw;
}

.input-field {
  padding: 10px;
  
}

textarea {
  max-width: 80vw;
  max-height: 500px;
  min-width: 200px;
  min-height: 200px;
  width: 500px;
  height: 500px;
  border-radius: 15px;
  padding: 10px;
  background-color: #dabc93;
}

.ingredient-field {
  display: inline-block;
}

button,
.ingredient-controls button {
  display: inline-block;
  max-width: 150px;
  padding: 10px;
  border-radius: 15px;
  margin-top: 10px;
}

.ingredients {
  display: flex;
  flex-direction: column;
}

.ingredient {
  display: flex;
  flex-direction: row;
}

.ingredient-labels label {
  margin: 0 75px;
}

.submit-controls {
  margin: 15px;
}

label {
  font-weight: bold;
  font-size: 24px;
  margin-top: 10px;
}

h2 {
  align-self: center;
  padding: 10px;
  text-align: center;
}

.result-box {
  ul {
    padding: 10px 10px;
    li {
      list-style: none;
      border-radius: 15px;
      padding: 10px 10px;
      &:hover {
        background-color: #dabc93;
        cursor: pointer;
        transition-duration: 0.2s;
        transition-property: background-color;
      }
    }
  }
}

.included-tags {
  ul {
    list-style: none;
    padding: 10px 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 500px;
    li {
      padding: 10px 10px;
      max-width: 120px;
      width: fit-content;
      border-radius: 15px;
      &:hover {
        background-color: #dabc93;
        cursor: pointer;
        transition-duration: 0.2s;
        transition-property: background-color;
      }
    }
  }
}

.result-box {
  max-height: 250px;
  overflow: auto;
}

@keyframes fadeIn {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
