/* You can add global styles to this file, and also import other style files */
* {
  padding: 0;
  margin: 0;
  font-family: "HedvigLetters";
}

@font-face {
  font-family: "HedvigLetters";
  src: url("../assets/fonts/HedvigLettersSerif-Regular-VariableFont_opsz.ttf");
}
