.home-card {
  padding: 10px;
  margin: 25px;  
  background-color: #dabc93;
  border-radius: 15px;
  animation: 1s ease-in-out 0s 1 fadeIn;
  width: 40vw;
  min-width: 300px;
  display: flex;
  justify-content: center;
  flex-direction: column;

  p {
    padding: 5px;
    a {
      font-weight: bold;
      border-radius: 10px;
      padding: 2px;
      text-decoration: none;
      &:hover {
        
      background-color: bisque;
        cursor: pointer;
      }
    }
  }
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@keyframes fadeIn {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .wrapper {
    font-size: 22px;
  }
}