.tags-filter {
  .tags {
    padding: 5px;
    animation: 1s ease-in-out 0s 1 fadeIn;
    .selected {
      background-color: #86643f !important;
    }
    .tag {
      display: inline-block;
      max-width: fit-content;
      padding: 10px;
      background-color: #dabc93;
      border-radius: 15px;
      color: white;
      text-shadow: 2px 2px 3px black;

      &:hover {
        transition-property: background-color;
        transition-duration: 0.2s;
        background-color: #b5895a;
        cursor: pointer;
      }
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
